/*VARIABLES Y MAP*/
/*MIXIN*/
/*RESET CSS*/
/*Reset basico css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*320PX*/
/*BACKGROUND BODYs-FORMs*/
.back_ground1 {
  background-image: url(../assets/img/bg-index.jpg);
  background-size: cover;
}

.back_ground3 {
  background-image: url(../assets/img/bg-galeria.jpg);
  background-size: auto;
}

.back_ground_form {
  background-image: url(../assets/img/bg-form.png);
  background-size: cover;
}

/*HEADER-FOOTER*/
header {
  width: 100%;
}

/*Footer de todas las pages del sitio ES GRID*/
.footerCenter {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: auto auto;
  grid-template-areas: "redes dias-horarios servicios" "parrafo parrafo parrafo";
}
.footerCenter .redesSociales {
  grid-area: redes;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.footerCenter .redesSociales a .iconWsp {
  width: 32px;
}
.footerCenter .redesSociales a .iconFbk {
  width: 32px;
}
.footerCenter .redesSociales a .iconIns {
  width: 32px;
}
.footerCenter .redesSociales a .iconIbx {
  width: 32px;
}
.footerCenter .dias_horarios {
  grid-area: dias-horarios;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footerCenter .dias_horarios .h5_dias_horarios {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
}
.footerCenter .dias_horarios .p_dias_horarios {
  font-family: "Roboto", sans-serif;
  color: white;
}
.footerCenter .dias_horarios .p_dias_horarios .span_dias_horarios {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.footerCenter .servicios {
  grid-area: servicios;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footerCenter .servicios .h5_servicios {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
}
.footerCenter .servicios .p_servicios a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}
.footerCenter .derechos_footer {
  grid-area: parrafo;
  text-align: center;
  margin-top: 15px;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  color: white;
}

/*NAVBAR*/
/*Navbar Bootstrap de todas las pages*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
nav .contenedorHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  width: 100%;
}
nav .contenedorHeader .logoHeader {
  width: 20%;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
nav ul a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 2px;
  font-family: "Rubik Gemstones", cursive;
  font-size: medium;
}
nav ul a:hover {
  transform: scale(90%);
}

.navbar {
  font-family: "Rubik Gemstones", cursive;
  font-size: medium;
}
.navbar #div_nav_responsive {
  display: flex;
  justify-content: center;
}

/*CAROUSEL*/
/*Carousel Bootstrap*/
#carouselExampleDark {
  margin-bottom: 15px;
}

/*Estilo de fuente del carousel en al page acerca_de_nosotros*/
.Carousel-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.Carousel-parrafo {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/*CARDS*/
/*Estilo de fuente de las cards de la webstore en la page webstore*/
.card-body .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.card-body .card-text {
  font-family: "Roboto", sans-serif;
}

/*H1-H2*/
/*H1 de todas las pages*/
.H1 {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.842);
  color: black;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: large;
}

/*H2 de la page webstore*/
.h2Stock {
  width: 75%;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: x-large;
}

/*H2 de la page index*/
.h2General {
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
}

/*estilo de fuente del accordion de la page acerca_de_nosotros*/
.accordion-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/*CONTENIDOS ESTETICOS*/
/*Lineas divisoras entre secciones o entre H1s y secciones*/
.divisionEstetica {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
}
.divisionEstetica .lineEstetica {
  border: solid 2px black;
  width: 30%;
}

/*Btns con forma de flecha para volver al inicio de la pagina sin scroll*/
/*este contenedor es visible desde 758px en adelante*/
.go-to-begin {
  display: none;
  position: sticky;
  top: 0px;
}

/*es visible hasta 767px, desde ahi en adelante es visible GO-TO-BEGIN*/
.go-to-begin2 {
  text-align: center;
}

/*este contenedor es visible en todas las mqueris*/
.go-to-begin3 {
  text-align: center;
}

/*CONTENIDOS DE LAS PAGINAS*/
/*3 imgs del index*/
.galeriaInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galeriaInicio img {
  width: 95%;
  border: solid 2px black;
  margin: 5px;
  opacity: 0.3;
}
.galeriaInicio img:hover {
  opacity: 1;
}

/*Clases para estilo de parrafo en la page acerca_de_nosotros*/
.parrafoFont {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.parrafoFont .parrafoTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/*Galeria de 12 imagenes de la page galeria*/
.galeriaGaleria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}
.galeriaGaleria img {
  border: solid 2px black;
  margin: 5px;
  width: 95%;
}

/*Contenedor de la webstore de la page webstore*/
.webStore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

/*Formulario de contacto de la page contactanos*/
form {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 4px;
}
form .back_ground_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
}
form .back_ground_form .borderOut2 {
  border: outset;
  background-color: #0D6EFD;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: medium;
}
form .back_ground_form .marginLabel {
  margin: 40px;
}
form .back_ground_form .marginLabel .borderOut1 {
  border: outset;
}
form .back_ground_form .btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/*QUERIES 768PX-1200PX*/
@media screen and (min-width: 768px) {
  /*Esto esta en COMPONENTS>>NAVBAR*/
  nav {
    flex-direction: row;
  }
  nav .contenedorHeader {
    justify-content: flex-start;
    width: 20%;
  }
  nav .contenedorHeader .logoHeader {
    width: 50%;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  nav ul a {
    font-size: large;
  }
  .navbar {
    font-size: large;
  }
  .navbar #div_nav_responsive {
    display: contents;
  }
  .navbar #div_nav_responsive #btn_nav_responsive {
    margin-right: 10px;
  }
  /*Esto esta en> COMPONENTS>>CAROUSEL*/
  #carouselExampleDark {
    margin-bottom: 0;
  }
  /*Esto esta en> BACKGROUNDS>>BACKGROUND*/
  .back_ground1 {
    background-size: auto;
  }
  /*Esto esta en> BASE>>TITLES*/
  .H1 {
    border-radius: 15px;
    font-size: x-large;
  }
  /*Esto esta en> BASE>>AESTHETIC-CONTENT*/
  .go-to-begin {
    display: block;
  }
  .go-to-begin2 {
    display: none;
  }
  /*Esto esta en> BASE>>PAGES-CONTENT*/
  form .back_ground_form .borderOut2 {
    font-size: large;
  }
  /*Esto esta en> BASE>>TITLES*/
  .webStore .h2Stock {
    width: 29%;
  }
  /*Esto esta en> BASE>>GENERAL CONTENT*/
  .footerCenter {
    margin-top: 30px;
  }
  .footerCenter .redesSociales {
    justify-content: center;
  }
  .footerCenter .redesSociales a {
    margin: 5px;
  }
  .footerCenter .redesSociales a .iconWsp {
    width: 64px;
  }
  .footerCenter .redesSociales a .iconFbk {
    width: 64px;
  }
  .footerCenter .redesSociales a .iconIns {
    width: 64px;
  }
  .footerCenter .redesSociales a .iconIbx {
    width: 64px;
  }
  .footerCenter .dias_horarios {
    font-size: large;
  }
  .footerCenter .servicios {
    font-size: large;
  }
  .footerCenter .derechos_footer {
    font-size: large;
  }
}
@media screen and (min-width: 1200px) {
  /*Esto esta en> COMPONENTS>>NAVBAR*/
  nav ul li a {
    font-size: x-large;
  }
  /*Esto esta en> BASE>>TITLES*/
  .H1 {
    font-size: xx-large;
  }
  /*Esto esta en> BACKGROUNDS>>BACKGROUND*/
  .back_ground1 {
    background-size: cover;
  }
  /*Esto esta en> BASE>>PAGES-CONTENT*/
  .galeriaInicio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .galeriaInicio img {
    width: 48%;
  }
  /*Esto esta en> BASE>>PAGES-CONTENT*/
  form .back_ground_form {
    width: 45%;
  }
  /*Esto esta en> BASE>>PAGES-CONTENT*/
  .webStore .h2Stock {
    width: 19%;
  }
  /*Esto esta en> BASE>>PAGES-CONTENT*/
  .galeriaGaleria {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "img1  img2" "img3  img4" "img5  img6" "img7  img8" "img9  img10" "img11 img12";
  }
  .galeriaGaleria img {
    width: 98%;
  }
  .galeriaGaleria .img_1 {
    grid-area: img1;
  }
  .galeriaGaleria .img_4 {
    grid-area: img2;
  }
  .galeriaGaleria .img_3 {
    grid-area: img3;
  }
  .galeriaGaleria .img_5 {
    grid-area: img4;
  }
  .galeriaGaleria .img_12 {
    grid-area: img5;
  }
  .galeriaGaleria .img_6 {
    grid-area: img6;
  }
  .galeriaGaleria .img_9 {
    grid-area: img7;
  }
  .galeriaGaleria .img_10 {
    grid-area: img8;
  }
  .galeriaGaleria .img_7 {
    grid-area: img9;
  }
  .galeriaGaleria .img_8 {
    grid-area: img10;
  }
  .galeriaGaleria .img_11 {
    grid-area: img11;
  }
  .galeriaGaleria .img_2 {
    grid-area: img12;
  }
}/*# sourceMappingURL=main.css.map */