/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*320PX*/
/*BACKGROUND BODYs-FORMs*/
.back_ground1 {
  background-image: url(../assets/img/BgIndex.jpg);
  background-size: cover;
}

.back_ground3 {
  background-image: url(../assets/img/BgNos&Galra.jpg);
  background-size: cover;
}

.back_ground4 {
  background-image: url(../assets/img/BgStre&Cntns.jpg);
  background-size: cover;
}

.back_ground_form {
  background-image: url(../assets/img/BgForm.png);
  background-size: cover;
}

/*HEADER-FOOTER*/
header {
  background-image: linear-gradient(#4d5155, rgb(44, 43, 43));
  display: flex;
  width: 100%;
}

.footerCenter {
  background-image: linear-gradient(grey, black);
  border-radius: 15px;
  text-align: center;
}
.footerCenter .redesSociales a i {
  font-size: 40px;
}
.footerCenter .redesSociales a .iconWsp {
  color: green;
}
.footerCenter .redesSociales a .iconFbk {
  color: blue;
}
.footerCenter .redesSociales a .iconIns {
  color: blueviolet;
}
.footerCenter .redesSociales a .iconIbx {
  color: rgb(168, 158, 20);
}
.footerCenter p {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
}

/*NAVBAR*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
nav .contenedorHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  width: 100%;
}
nav .contenedorHeader .logoHeader {
  width: 20%;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
nav ul a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 2px;
  font-family: "Rubik Gemstones", cursive;
  font-size: medium;
}
nav ul a:hover {
  transform: scale(90%);
}

/*Navbar Bootstrap*/
.navbar {
  font-family: "Rubik Gemstones", cursive;
  font-size: medium;
}
.navbar #div_nav_responsive {
  display: flex;
  justify-content: center;
}
.navbar #div_nav_responsive li a .iconIns {
  color: blueviolet;
}
.navbar #div_nav_responsive li a .iconFbk {
  color: blue;
}
.navbar #div_nav_responsive li a .iconWsp {
  color: green;
}
.navbar #div_nav_responsive li a:hover {
  transform: scale(90%);
}

/*CAROUSEL*/
/*Carousel Bootstrap*/
#carouselExampleDark {
  margin-bottom: 15px;
}

/*H1-H2*/
.contenedorH1 {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.contenedorH1 h1 {
  background-color: rgba(128, 128, 128, 0.842);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: large;
}

.h2General {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.padreH2 {
  display: flex;
  justify-content: center;
}
.padreH2 .h2Stock {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 5px;
  border: outset;
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: rgba(0, 255, 255, 0.315);
}

/*CONTENIDOS ESTETICOS*/
.divisionEstetica {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
}
.divisionEstetica .lineEstetica {
  border: solid black 2px;
  width: 30%;
}

/*CONTENIDOS DE LAS PAGINAS*/
.galeriaInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galeriaInicio img {
  width: 95%;
  border: solid 2px black;
  margin: 5px;
  opacity: 0.3;
}
.galeriaInicio img:hover {
  opacity: 1;
}

.parrafoFont {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: center;
}
.parrafoFont .parrafoTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.galeriaGaleria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}
.galeriaGaleria img {
  border: solid 2px black;
  margin: 5px;
  width: 95%;
}

.webStore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
.webStore .webStoreDiv {
  display: flex;
  width: 95%;
  text-align: center;
  align-items: center;
  border: inset;
  background-color: rgba(0, 255, 255, 0.315);
  justify-content: space-around;
  margin-top: 10px;
}
.webStore .webStoreDiv:hover {
  background-color: rgba(0, 255, 255, 0.514);
}
.webStore .webStoreDiv img {
  width: 30%;
  border: solid 2px black;
  margin: 5px;
}
.webStore .webStoreDiv .font_WS {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 55%;
}
.webStore .webStoreDiv .btn_WS {
  border: inset;
  background-color: rgba(0, 255, 255, 0.315);
}
.webStore .webStoreDiv .btn_WS:hover {
  background-color: rgba(0, 255, 255, 0.699);
}

form {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 4px;
}
form fieldset {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
}
form fieldset .borderOut2 {
  border: outset;
  background-color: rgba(0, 255, 255, 0.568);
}
form fieldset .marginLabel {
  margin: 40px;
}
form fieldset .marginLabel .borderOut1 {
  border: outset;
}
form fieldset .marginLabel .borderOut1:hover {
  background-color: rgba(0, 255, 255, 0.61);
}
form fieldset .marginLabel .borderOut2 {
  border: outset;
  background-color: rgba(0, 255, 255, 0.568);
}
form fieldset .border_input {
  border: outset;
  background-color: rgba(0, 255, 255, 0.336);
}
form fieldset .border_input:hover {
  background-color: rgba(0, 255, 255, 0.61);
}

/*QUERIES*/
@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
  nav .contenedorHeader {
    justify-content: flex-start;
    width: 20%;
  }
  nav .contenedorHeader .logoHeader {
    width: 50%;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  nav ul a {
    font-size: large;
  }
  /*Navbar Bootstrap*/
  .navbar {
    font-size: large;
  }
  .navbar #div_nav_responsive {
    display: contents;
  }
  .navbar #div_nav_responsive #btn_nav_responsive {
    margin-right: 10px;
  }
  /*Carousel Bootstrap*/
  #carouselExampleDark {
    margin-bottom: 0;
  }
  .back_ground1 {
    background-size: auto;
  }
  .back_ground3 {
    background-size: auto;
  }
  .back_ground4 {
    background-size: auto;
  }
  .contenedorH1 {
    display: block;
    text-align: center;
  }
  .contenedorH1 h1 {
    border-radius: 15px;
    font-size: x-large;
  }
  .footerCenter {
    margin-top: 30px;
  }
  .footerCenter .redesSociales {
    justify-content: center;
  }
  .footerCenter .redesSociales a {
    margin: 5px;
  }
  .footerCenter .redesSociales a .iconWsp {
    font-size: 50px;
  }
  .footerCenter .redesSociales a .iconFbk {
    font-size: 50px;
  }
  .footerCenter .redesSociales a .iconIns {
    font-size: 50px;
  }
  .footerCenter .redesSociales a .iconIbx {
    font-size: 50px;
  }
  .footerCenter p {
    font-size: large;
  }
  .border_input {
    width: 100%;
  }
  .font_WS {
    font-size: large;
  }
  .btn_WS {
    font-size: large;
  }
}
@media screen and (min-width: 1200px) {
  nav ul li a {
    font-size: x-large;
  }
  .contenedorH1 h1 {
    font-size: xx-large;
  }
  .back_ground1 {
    background-size: cover;
  }
  .galeriaInicio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .galeriaInicio img {
    width: 49%;
  }
  .back_ground4 {
    background-size: cover;
  }
  form {
    font-size: large;
  }
  form fieldset {
    width: 45%;
  }
  .padreH2 .h2Stock {
    width: 45%;
  }
  .webStore .webStoreDiv {
    width: 50%;
  }
  .galeriaGaleria {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "img1  img2" "img3  img4" "img5  img6" "img7  img8" "img9  img10" "img11 img12";
  }
  .galeriaGaleria img {
    width: 98%;
  }
  .galeriaGaleria .img_1 {
    grid-area: img1;
  }
  .galeriaGaleria .img_1:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_4 {
    grid-area: img2;
  }
  .galeriaGaleria .img_4:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_3 {
    grid-area: img3;
  }
  .galeriaGaleria .img_3:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_5 {
    grid-area: img4;
  }
  .galeriaGaleria .img_5:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_12 {
    grid-area: img5;
  }
  .galeriaGaleria .img_12:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_6 {
    grid-area: img6;
  }
  .galeriaGaleria .img_6:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_9 {
    grid-area: img7;
  }
  .galeriaGaleria .img_9:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_10 {
    grid-area: img8;
  }
  .galeriaGaleria .img_10:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_7 {
    grid-area: img9;
  }
  .galeriaGaleria .img_7:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_8 {
    grid-area: img10;
  }
  .galeriaGaleria .img_8:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_11 {
    grid-area: img11;
  }
  .galeriaGaleria .img_11:hover {
    transform: rotate(10deg);
  }
  .galeriaGaleria .img_2 {
    grid-area: img12;
  }
  .galeriaGaleria .img_2:hover {
    transform: rotate(10deg);
  }
  .footerCenter p {
    font-size: x-large;
  }
}
/*FLEX*/
.redesSociales {
  display: flex;
  justify-content: space-evenly;
}/*# sourceMappingURL=main.css.map */