$primero: black;
$segundo: white;
$tercero: #0D6EFD;
$cuarto: rgba(128, 128, 128, 0.842);

$paleta_de_colores:(
    principal: $primero, secundario: $segundo,
    formulario: $tercero, bgc-h1: $cuarto,
)