/*Estilo de fuente de las cards de la webstore en la page webstore*/
.card-body{
    .card-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .card-text{
        font-family: 'Roboto', sans-serif;
    font-weight: 100;
    }
}