/*Navbar Bootstrap de todas las pages*/
nav {
    @include flex-column-center;
    width: 100%;

    .contenedorHeader {
        @include flex-row-center;
        margin-bottom: 3px;
        width: 100%;

        .logoHeader {
            width: 20%;
        }
    }

    ul {
        @include flex-column-center;
        list-style-type: none;

        a {
            display: flex;
            text-decoration: none;
            color: map-get($paleta_de_colores, txtNavFoo);
            padding: 8px;
            margin-bottom: 2px;
            font-family: 'Rubik Gemstones', cursive;
            font-size: medium;

            &:hover {
                transform: scale(90%);
            }
        }
    }
}

.navbar {
    font-family: 'Rubik Gemstones', cursive;
    font-size: medium;

    #div_nav_responsive {
        @include flex-row-center;
    }
}