.back_ground1 {
    background-image: url(../assets/img/BgIndex.jpg);
    background-size: cover;
}

.back_ground3 {
    background-image: url(../assets/img/BgGaleria.jpg);
    background-size: cover;
}

.back_ground4 {
    background-image: url(../assets/img/Bg4.jpg);
    background-size: cover;
}

.back_ground_form {
    background-image: url(../assets/img/BgForm.png);
    background-size: cover;
}