.back_ground1 {
    background-image: url(../assets/img/bg-index.jpg);
    background-size: cover;
}

.back_ground3 {
    background-image: url(../assets/img/bg-galeria.jpg);
    background-size: auto;
}

.back_ground_form {
    background-image: url(../assets/img/bg-form.png);
    background-size: cover;
}