@media screen and (min-width: 768px) {
/*Esto esta en COMPONENTS>>NAVBAR*/
    nav {
        flex-direction: row;

        .contenedorHeader {
            justify-content: flex-start;
            width: 20%;

            .logoHeader {
                width: 50%;
            }
        }

        ul {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;

            a {
                font-size: large;
            }
        }
    }

    .navbar {
        font-size: large;

        #div_nav_responsive {
            display: contents;

            #btn_nav_responsive {
                margin-right: 10px;
            }
        }
    }

/*Esto esta en> COMPONENTS>>CAROUSEL*/
    #carouselExampleDark {
        margin-bottom: 0;
    }
/*Esto esta en> BACKGROUNDS>>BACKGROUND*/
    .back_ground1 {
        background-size: auto;
    }
/*Esto esta en> BASE>>TITLES*/
    .H1 {
        border-radius: 15px;
        font-size: x-large;
    }
/*Esto esta en> BASE>>AESTHETIC-CONTENT*/
    .go-to-begin{
        display: block;
    }

    .go-to-begin2{
        display: none;
    }
/*Esto esta en> BASE>>PAGES-CONTENT*/
    form {
        .back_ground_form {
            .borderOut2 {
                font-size: large;
            }
        }
    }
/*Esto esta en> BASE>>TITLES*/
    .webStore {
        .h2Stock {
            width: 29%;
        }
    }
/*Esto esta en> BASE>>GENERAL CONTENT*/
    .footerCenter {
        margin-top: 30px;

        .redesSociales {
            justify-content: center;

            a {
                margin: 5px;

                .iconWsp {
                    width: 64px;
                }

                .iconFbk {
                    width: 64px;
                }

                .iconIns {
                    width: 64px;
                }

                .iconIbx {
                    width: 64px;
                }
            }
        }

        .dias_horarios{
            font-size: large;
        }

        .servicios {
            font-size: large;
        }

        .derechos_footer{
            font-size: large;
        }
    }
}

@media screen and (min-width: 1200px) {
/*Esto esta en> COMPONENTS>>NAVBAR*/
    nav {
        ul {
            li {
                a {
                    font-size: x-large;
                }
            }
        }
    }
/*Esto esta en> BASE>>TITLES*/
    .H1 {
        font-size: xx-large;
    }
/*Esto esta en> BACKGROUNDS>>BACKGROUND*/
    .back_ground1 {
        background-size: cover;
    }
/*Esto esta en> BASE>>PAGES-CONTENT*/
    .galeriaInicio {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 48%;
        }
    }
/*Esto esta en> BASE>>PAGES-CONTENT*/
    form {
        .back_ground_form {
            width: 45%;
        }
    }
/*Esto esta en> BASE>>PAGES-CONTENT*/
    .webStore {
        .h2Stock {
            width: 19%;
        }
    }
/*Esto esta en> BASE>>PAGES-CONTENT*/
    .galeriaGaleria {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "img1  img2"
            "img3  img4"
            "img5  img6"
            "img7  img8"
            "img9  img10"
            "img11 img12";

        img {
            width: 98%;
        }

        .img_1 {
            grid-area: img1;
        }

        .img_4 {
            grid-area: img2;
        }

        .img_3 {
            grid-area: img3;
        }

        .img_5 {
            grid-area: img4;
        }

        .img_12 {
            grid-area: img5;
        }

        .img_6 {
            grid-area: img6;
        }

        .img_9 {
            grid-area: img7;
        }

        .img_10 {
            grid-area: img8;
        }

        .img_7 {
            grid-area: img9;
        }

        .img_8 {
            grid-area: img10;
        }

        .img_11 {
            grid-area: img11;
        }

        .img_2 {
            grid-area: img12;
        }
    }
}