header {
    width: 100%;
}

/*Footer de todas las pages del sitio ES GRID*/
.footerCenter {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto auto;
    grid-template-areas:    "redes dias-horarios servicios"
                            "parrafo parrafo parrafo";

    .redesSociales {
        grid-area: redes;
        @include flex-column-center;
        justify-content: space-evenly;

        a {
            .iconWsp {
                width: 32px;
            }

            .iconFbk {
                width: 32px;
            }

            .iconIns {
                width: 32px;
            }

            .iconIbx {
                width: 32px;
            }
        }
    }

    .dias_horarios {
        grid-area: dias-horarios;
        @include flex-column-jccenter;
        @include txt-center;

        .h5_dias_horarios {
            @include roboto600;
            color: map-get($paleta_de_colores , principal);
        }

        .p_dias_horarios {
            @include roboto;
            color: map-get($paleta_de_colores, secundario);

            .span_dias_horarios {
                @include roboto600;
            }
        }
    }

    .servicios {
        grid-area: servicios;
        @include flex-column-jccenter;
        @include txt-center;

        .h5_servicios {
            @include roboto600;
            color: map-get($paleta_de_colores , principal);
        }

        .p_servicios {
            a {
                text-decoration: none;
                @include roboto;
                color: map-get($paleta_de_colores, secundario);
            }
        }
    }

    .derechos_footer {
        grid-area: parrafo;
        @include txt-center;
        margin-top: 15px;
        padding-top: 5px;
        @include roboto;
        color: map-get($paleta_de_colores, secundario);
    }
}