header {
    width: 100%;
}

.footerCenter {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "redes dias-horarios servicios"
        "br br br"
        "parrafo parrafo parrafo";

    .redesSociales {
        grid-area: redes;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            .iconWsp {
                width: 32px;
            }

            .iconFbk {
                width: 32px;
            }

            .iconIns {
                width: 32px;
            }

            .iconIbx {
                width: 32px;
            }
        }
    }

    .dias_horarios {
        grid-area: dias-horarios;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .h5_dias_horarios {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            color: map-get($paleta_de_colores , borderImg);
        }

        .p_dias_horarios {
            font-family: 'Roboto', sans-serif;
            color: map-get($paleta_de_colores, txtNavFoo);

            .span_dias_horarios {
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
            }
        }
    }

    .servicios {
        grid-area: servicios;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .h5_servicios {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            color: map-get($paleta_de_colores , borderImg);
        }

        .p_servicios {

            a {
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                color: map-get($paleta_de_colores, txtNavFoo);
            }
        }
    }

    .derechos_footer {
        grid-area: parrafo;
        text-align: center;
        margin-top: 15px;
        padding-top: 5px;
        font-family: 'Roboto', sans-serif;
        color: map-get($paleta_de_colores, txtNavFoo);
    }
}