header {
    background-image: linear-gradient(map-get($paleta_de_colores, bgcH1), map-get($paleta_de_colores, borderImg));
    display: flex;
    width: 100%;
}

.footerCenter {
    background-image: linear-gradient(map-get($paleta_de_colores, bgcH1), map-get($paleta_de_colores, borderImg));
    border-radius: 15px;
    text-align: center;

    .redesSociales {
        a {
            i {
                font-size: 40px;
            }

            .iconWsp {
                color: map-get($paleta_de_colores, whatsapp);
            }

            .iconFbk {
                color: map-get($paleta_de_colores, facebook);
            }

            .iconIns {
                color: map-get($paleta_de_colores, instagram);
            }

            .iconIbx {
                color: map-get($paleta_de_colores, inbox)
            }
        }
    }

    p {
        padding-top: 15px;
        font-family: 'Roboto', sans-serif;
        color: map-get($paleta_de_colores, txtNavFoo);
    }
}