.galeriaInicio {
    @include flex-column-center;

    img {
        width: 95%;
        border: solid 2px map-get($paleta_de_colores, borderImg);
        margin: 5px;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }
}

.parrafoFont {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;

    .parrafoTitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }
}

.galeriaGaleria {
    @include flex-column-center;
    padding-top: 5px;

    img {
        border: solid 2px map-get($paleta_de_colores, borderImg);
        margin: 5px;
        width: 95%;
    }
}

.webStore {
    @include flex-column-center;
    margin-bottom: 5px;
}

form {
    @include flex-row-center;
    margin-top: 5px;
    margin-bottom: 4px;

    .back_ground_form {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 95%;

        .borderOut2 {
            border: outset;
            background-color: map-get($paleta_de_colores, bgcForm);
        }

        .marginLabel {
            margin: 40px;

            .borderOut1 {
                border: outset;
            }
        }
    }
}