.H1 {
    text-align: center;
    background-color: map-get($paleta_de_colores, bgcH1);
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: large;
}

.h2Stock {
    text-align: center;
    width: 70%;
    margin-bottom: 5px;
    border: outset;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: map-get($paleta_de_colores, bgcH2WebStore);
}

.h2General {
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}